@media only screen and (min-device-width : 320px) and (max-device-width : 900px) {
    section.searchPlace {
        padding: 10px;
        display: inline;
        background: transparent;
        border: none;
    }
    h1{
        font-size: 20px;
        font-style: bold;
        font-family: "Roboto Light";
        color: rgba(24, 24, 24, 0.84);
        text-shadow: #808080;
        border: 1px solid grey;
        background-color: lightblue;
        padding: 5px;
        text-align: center;
    }
    .searchPlace label{
        font-size: 20px;
        border: 1px solid black;
        padding: 5px;
        background-color: rgba(253, 164, 82, 0.65);
    }
    input{
        font-size: 15px;
        margin: 0px;
    }
    input#leaving{
        margin-left: 30px;
    }
    input#returning{
        margin-left: 15px;
    }
   div.container{
       padding-top: 10vh;
       display: block;
   }
    img#img{
        width: 80vw;
        height: 40vh;
        object-fit: cover;

    }
    section.resultPlece{
        padding: 20px;
    }
}